<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799949434221-0k4toi03rpmf9jqqgusohsq9kjs4unbr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799949434221-0k4toi03rpmf9jqqgusohsq9kjs4unbr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>799949434221-hs0vmr58adimi667glgnupokk423vdcg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA9A-pDFezvAfl7GrEemhFGgKiBrHhLvSI</string>
	<key>GCM_SENDER_ID</key>
	<string>799949434221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myApp.kepu.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>kepu-f6479</string>
	<key>STORAGE_BUCKET</key>
	<string>kepu-f6479.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799949434221:ios:9002eb9ab686331464be64</string>
	<key>DATABASE_URL</key>
	<string>https://kepu-f6479-default-rtdb.firebaseio.com</string>
</dict>
</plist>